* {
    box-sizing: border-box;
}

nav{
    width: 20%;
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    margin: 0;
}

.drop_down_panel{
    padding: 5px;
    min-width: 100px;
    width: 10vw;
    height: 100vh;
    background-color: grey;
}

ul{
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul:hover{
    cursor: pointer;
    display: block;
} 

.icon{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon span{
    font-size: 2rem;
}

.icon:hover ~ ul{
    display: block;
}