* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-position: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.backdrop{
    height: 100%;
    width: 100%;
    background-color: aqua;
    margin: 0;
}

button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 1rem; 
}

button:hover{
    background-color: green;
}
