* {
  box-sizing: border-box;
  margin: 0;
}

#ft_list {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: burlywood;
  width: 50%;
  height: 80%;
  margin: auto;
  outline: 2px;
  border-radius: 10px;
}

.form {
  width: 80%;
}

body {
  background-color: bisque;
  height: 100vh;
  width: 100vw;
}
